//---------------------
//Server settings
//---------------------
sv_maxplayers 			64
sv_servername 			"put in server name here"
sv_password 			"put in server password here if wanted"
sv_port				28107
sv_heapsize			4096	//MB ram dedicated to server
sv_lan				false	//True only allows local IPs to connect
sv_whitelist			false	//Only allow certain IPs to connect, via whitelist.config
sv_blacklist			false	//Disallow certain IPs to connect
sv_do_day_night_cycle		true
sv_weather			true
sv_voice_enable			true
sv_bcu_light			true
sv_zombie_bcu			true
sv_robot_lights			true

sv_anticheat			true
sv_anticheat_extra		false	//Some experimental features. May result in false-positives
sv_low_mem_usage		false	//For slower servers, <4GB RAM
sv_low_cpu_usage		false	//For slower servers, old CPU. NOT recommended!


//---------------------
//Gameplay settings
//---------------------
//----Loot and crafting settings----
sv_spawn_loot			true 	//Turn it off to see what a walking sim really looks like
sv_every_box_contains_loot 	false	//False by default
cl_looting_enabled		true	//Without this, why would you need hands?
loot_scrap			true
loot_gunpowder			true
loot_guns			true
loot_ammo			true
sv_spawnrate			1
sv_loot_respawn_time		30	//Time in minutes

//----Player settings----
cl_dehydrate			true
cl_fall_damage			true
cl_fall_limb_break		true
cl_godmode			false	//Easy mode lmao
cl_no_hunder			false
cl_no_mineral_usage		false
cl_no_thirst			false
cl_no_vitamin_usage		false
cl_punish_full_bladder		true
cl_punish_full_colon		true
cl_punish_full_intestine	true
cl_punish_overdrink		true
cl_punish_overeat		true
cl_skill_change			true
cl_stamina_usage		true
fp_bottom_feeder_range		100
fp_hotshot_range		300
fp_icon_range			1000
fp_idol_range			700
fp_luminary_range		800
fp_megastar_range		900
fp_nobody_range			0
fp_phenom_range			500
fp_sensation_range		400
fp_superstar_range		600
fp_wannabe_range		200

//----Specific weapon settings----
//----Ammo----
5_45_39_enabled			true
7_62_39_enabled			true
7_62_51_enabled			true
7_62_54_enabled			true
7_92_57_enabled			true
9mm_enabled			true
12_gauge_enabled		true
20mm_enabled			true
22mm_enabled			true
30_06_enabled			true
40mm_enabled			true
45_enabled			true
50_enabled			true
500_sw_enabled			true
craft_5_45_39_ammo		true
craft_7_62_39_ammo		true
craft_7_62_51_ammo		true
craft_7_62_54_ammo		true
craft_7_92_57_ammo		true
craft_9mm_ammo			true
craft_12_gauge_ammo		true
craft_20mm_ammo			true
craft_22mm_ammo			true
craft_30_06_ammo		true
craft_40mm_ammo			true
craft_45_ammo			true
craft_50_ammo			true
craft_500_sw_ammo		true
craft_m1_ammo			true
loot_5_45_39_ammo		true
loot_7_62_39_ammo		true
loot_7_62_51_ammo		true
loot_7_62_54_ammo		true
loot_7_92_57_ammo		true
loot_9mm_ammo			true
loot_12_gauge_ammo		true
loot_20mm_ammo			true
loot_22mm_ammo			true
loot_30_06_ammo			true
loot_40mm_ammo			true
loot_45_ammo			true
loot_50_ammo			true
loot_500_sw_ammo		true
loot_m1_ammo			true
m1_enabled			true


//----Weapons----
craft_improvised_hammer		true
craft_improvised_metal_knife	true
craft_stone_axe			true
craft_stone_axe_head		true
craft_wooden_club_with_spikes	true
craft_wooden_club_with_wire	true
loot_98k_karabiner		true
loot_590a11			true
loot_1911			true
loot_ak47			true
loot_akm			true
loot_aks_74u			true
loot_axe			true
loot_baseball_bat		true
loot_berettaM9			true
loot_beretta_m9			true
loot_brass_knuckles		true
loot_cleaver			true
loot_crowbar			true
loot_flashbang			true
loot_frag_grenade		true
loot_hatchet			true
loot_hunter85			true
loot_hunter			true
loot_improvised_hammer		false
loot_improvised_metal_knife	false
loot_katana			true
loot_kitchen_knife		true
loot_kunai			true
loot_little_spade		true
loot_m1_clip			true
loot_m1_garand			true
loot_M9				true
loot_metal_axe			true
loot_metal_baseball_bat		true
loot_metal_sword		true
loot_mk5000_black		true
loot_mk5000_metal		true
loot_mp5			true
loot_n9				true
loot_pickaxe			true
loot_pitchfork			true
loot_police_baton		true
loot_scalpel			true
loot_scout			true
loot_shovel			true
loot_shuriken			true
loot_smoke_grenade		true
loot_stone_axe			false
loot_stone_axe_head		false
loot_svd_dragunov		true
loot_wooden_club		true
loot_wooden_club_with_spikes	false
loot_wooden_club_with_wire	false
loot_wrench_pipe		true

//----Random items----
craft_bear_gloves		true
craft_bear_head_hat		true
craft_bear_jacket		true
craft_bear_pants		true
craft_bear_shoe			true
craft_bone_needle		true
craft_imp_bulletproof_vest	true
craft_rag_bundle		true
craft_rag_stripe_bundle		true
craft_stick_bundle		true
loot_5_45_39			true
loot_5_45_39_box		true
loot_7_62_39			true
loot_7_62_39_box		true
loot_7_62_51			true
loot_7_62_51_box		true
loot_7_62_54			true
loot_7_62_54_box		true
loot_7_92_57			true
loot_7_92_57_box		true
loot_9mm			true
loot_9mm_box			true
loot_20mm			true
loot_20mm_box			true
loot_22mm			true
loot_22mm_box			true
loot_30_06			true
loot_30_06_box			true
loot_45				true
loot_45_box			true
loot_50				true
loot_50_box			true
loot_500_sw			true
loot_500_sw_box 		true
loot_absinthe			true
loot_activated_charcoal		true
loot_adrenaline_shot		true
loot_aloominum_strip		true
loot_anode_plate		true
loot_antibiotics		true
loot_antiparasitic_pils		true
loot_anti_malaria_pils		true
loot_anti_radiation_pils	true
loot_apple			true
loot_apple_pie			true
loot_aspirin			true
loot_assault_backpack		true
loot_assault_vest		true
loot_aviators			true
loot_baby_food			true
loot_backpack_01		true
loot_backpack_02		true
loot_bag_of_almonds		true
loot_baked_beans		true	//YOU ATE ALL MY BEANS
loot_baked_meat			true
loot_baked_vegetables		true
loot_balaclava			true
loot_bandana			true
loot_barbed_wire		true
loot_barrel			true
loot_baseball_cap		true
loot_basic_shirt		true
loot_batteries			true
loot_beans_stew			true	//Ah, that's where my beans went
loot_bear_head			true
loot_bear_head_hat		false
loot_bear_paws			true
loot_beenie			true
loot_beer			true
loot_beet			true
loot_bee_pollen_pils		true	//What do these do even? xD
loot_beret			true
loot_biker_glasses		true
loot_biker_goggles		true
loot_biker_hat			true
loot_blackberry			true
loot_bolts			true
loot_bone			true
loot_bone_needle		false
loot_boonie_hat			true
loot_bread			true
loot_break_oil			true
loot_broccoli			true
loot_bulletproof_vest		true
loot_burger			true
loot_butter			true
loot_cabbage			true
loot_cake			true
loot_camera_lens		true
loot_camo_backpack		true
loot_camo_jacket		true
loot_candle			true
loot_canned_corn		true
loot_canned_tuna		true
loot_cantaloupe			true
loot_canteen			true
loot_can			true
loot_can_opener			true
loot_cargo_pants		true
loot_carrot			true
loot_car_battery		true
loot_car_battery_cables		true
loot_catfood			true
loot_cauliflower		true
loot_celery			true
loot_cereal			true
loot_charcoal			true
loot_cheese			true
loot_chicken			true
loot_chicory			true
loot_chilipeper			true
loot_chilli_con_carne		true
loot_chips			true
loot_chocolate_candy		true
loot_chocolate_milk		true
loot_chow_mein			true
loot_cigarettes			true
loot_coconut			true
loot_college_jacket		true
loot_dogfood			true
loot_fruitcoctail		true
loot_goulash			true
loot_lmao_fake			true
loot_magazine_ak47		true
loot_magazine_aks_74u		true
loot_magazine_m9		true
loot_magazine_mp5		true
loot_magazine_svd_dragunov	true
loot_mushrooms			true
loot_olives			true
loot_peach			true
loot_pear			true
loot_peas			true
loot_raging_children		true
loot_ravioli			true
loot_sardine			true
loot_scoperail_ak47		true
loot_scoperail_dragunov		true
loot_spaghetti			true
loot_subscribe_rednaw		true


//---Map settings----
sv_spawn_aloe_vera		true
sv_spawn_bear			true
sv_spawn_berry_bush		true
sv_spawn_buck			true
sv_spawn_bush			true
sv_spawn_cabbage		true
sv_spawn_chicken		true
sv_spawn_corn			true
sv_spawn_crow			true
sv_spawn_donkey			true
sv_spawn_duck			true
sv_spawn_goat			true
sv_spawn_grass			true
sv_spawn_horse			true
sv_spawn_loot_airfield		true
sv_spawn_loot_boot_camp		true
sv_spawn_loot_bunkers		true
sv_spawn_loot_dam		true
sv_spawn_loot_factory		true
sv_spawn_loot_gun_range		true
sv_spawn_loot_hunting_camp	true
sv_spawn_loot_outpost		true
sv_spawn_loot_town		true
sv_spawn_loot_train_yard	true
sv_spawn_loot_trench		true
sv_spawn_mushroom		true
sv_spawn_pigeon			true
sv_spawn_pig			true
sv_spawn_raven			true
sv_spawn_seagull		true
sv_spawn_sheep			true
sv_spawn_snake			true
sv_spawn_tree			true
sv_spawn_wolf			true


//----Dangerous mob settings----
sv_do_robot_damage 		true	//True by default. Bullets are meant to hurt
sv_do_zombie_damage 		true	//True by default. Rawr xd
sv_robot_drop_loot		false	//Still working on adding this
sv_robot_fame			true
sv_spawn_robots 		true	//Bet you rocks could knock these things over
sv_spawn_zombies 		true	//What are you scared of?
sv_zombie_drop_loot		true
sv_zombie_fame			true
sv_zombie_random_revive		false	//Experimental. Zombies can wake up after being killed (if head attatched)

//----Harvest settings----
animal_drop_bone		true
animal_drop_fat			true
animal_drop_meat		true
animal_drop_skin		true
zombie_drop_bone		true
zombie_drop_fat			true
zombie_drop_meat		true
zombie_drop_skin		true

//----Poison and disease----
dis_addiction			true
dis_broken_limb			true
dis_calcium_def			true
dis_carbon_monoxide_poi		true
dis_choking			true
dis_coma			true
dis_copper_def			true
dis_cystitis			true
dis_dehydration			true
dis_diarrehea			true
dis_drunk			true
dis_dysentery			true
dis_fat_def			true
dis_fever			true
dis_fiber_def			true
dis_hairloss			true
dis_heart_attack		true
dis_heatstroke			true
dis_hepatitis			true
dis_hookworms			true
dis_hyperthermia		true
dis_hypothermia			true
dis_iron_def			true
dis_iron_def			true
dis_leptospirosis		true
dis_magnesium_def		true
dis_malaria			true
dis_manganese_def		true
dis_meningitis			true
dis_overdose			true
dis_overeating			true
dis_phosphorus_def		true
dis_potassium_def		true
dis_pranked			true
dis_radiation			true
dis_salmonella			true
dis_sickness			true
dis_sodium_def			true
dis_stomach_rupture		true
dis_sunburn			true
dis_toothache			true
dis_trenchfoot			true
dis_unconsciousness		true
dis_vitamin_a1_def		true
dis_vitamin_b1_def		true
dis_vitamin_b2_def		true
dis_vitamin_b3_def		true
dis_vitamin_b4_def		true
dis_vitamin_b5_def		true
dis_vitamin_b6_def		true
dis_vitamin_b6_def		true
dis_vitamin_b9_def		true
dis_vitamin_b12_def		true
dis_vitamin_c_def		true
dis_vitamin_d_def		true
dis_vitamin_e_def		true
dis_vitamin_k_def		true
dis_vitamin_k_def		true
dis_zinc_def			true
mshm_amanita_pantheria_poison	true
mshm_amanita_phalloides_poison	true
mshm_amanita_virosa_poison	true


//---------------------
//Admin settings
//---------------------
sv_admins_can_spawn_loot	false	//Stops abuse
sv_admins_toggle_fly		false	//weeeeeeeeeeeeeeeee!
sv_admin_can_ban		true
sv_admin_can_ip_ban		true	//You can not grab IPs through commands.
sv_admin_can_kick		true
sv_admin_no_agro		false	//Robots and Zombies are blind to admins if true
sv_admin_steamid		null	//Your SteamID64. Comma seperated list
sv_admin_spawn_vehicle		false	//WIP!
sv_admin_toggle_godmode		false
sv_admin_toggle_invis		false
sv_admin_tp			false
sv_admin_tphere			false
sv_allow_admin			true	//Allows administrators on your server
